<header class='home-header'>
  <div class="heading">
    <%= link_to 'HooomeðŸ ', "#", class: "title" %>
  </div>
  <div class= "search-form">
    <%= form_with(url: "#", local: true, method: :get) do |form| %>
      <%= form.text_field :keyword, placeholder: " æŽ²ç¤ºæ¿ã‚’æŽ¢ã™", class: "input-box" %>
      <%= form.submit "æ¤œç´¢" ,class:"btn" %>
    <% end %>
  </div>
  <div class="menu">
  <% i = 1%>
    <% if i == 1 %>
      <span class="menu_text"><%= "ãƒ¦ãƒ¼ã‚¶ãƒ¼å" %>
        <ul class="menu_list">
          <li><%= link_to "ãƒžã‚¤ãƒšãƒ¼ã‚¸", "#", class: "menu_lists" %></br></li>
          <li><%= link_to "æŽ²ç¤ºæ¿ä½œæˆ", "#", class: "menu_lists" %></br></li>
          <li><%= link_to "ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ", "#", class: "menu_lists" %></br></li>
        </ul>
      </span>
    <% else %>
      <span class="menu_text"><%= "ã‚¢ã‚«ã‚¦ãƒ³ãƒˆ" %>
        <ul class="menu_list">
          <li><%= link_to "æ–°è¦ä½œæˆ", "#", class: "menu_lists" %></br></li>
          <li><%= link_to "ãƒ­ã‚°ã‚¤ãƒ³", "#", class: "menu_lists" %></br></li>
        </ul>
      </span>
    <%end%>
  </div>
</header>