<div class= 'all'>
  <%= render "shared/home_header" %>

  <div class='main'>
    掲示板サイト「Hooome🏠」へようこそ！🎉</br>
    <div class='caption'>
    🌟ピックアップ🌟
    </div>
    <div class='pick_up'>
      <div class='left'>
        <ul class= 'lists'> 新規の掲示板</br>
          <% @new_homes.each do |home| %>
            <li class= "list">
              タイトル:
              <%= link_to home.name, home_path(home.id), method: :get, class: 'list_name' %>
              </br>
              <span class="list_info">
                投稿者:
                <%= link_to home.user.name, "#", class: "list_user"%>
              </span>
            </li>
          <% end %>
      </div>
      <div class='right'>
        <ul class= 'lists'> 閲覧履歴</br>
          <li class= 'list'>・aaaaaa</li>
          <li class= 'list'>・掲示板(未実装)</li>
          <li class= 'list'>・質問箱(未実装)</li>
          <li class= 'list'>・メール(未実装)</li>
        </ul>
      </div>
    </div>
    <div class='caption'>
    🌟掲示板一覧🌟
    </div>
    <ul class= 'lists_index'>
      <% @all_homes.each do |home| %>
        <li class= "list">
          <%= link_to home.name, home_path(home.id), class: 'list_name' %>
          </br>
          <span class="list_info">
            投稿者:
            <%= link_to home.user.name, "#", class: "list_user"%>
          </span>
          <span class="list_info">
            コメント数:
            <%= home.messages.length %>
          </span>
          <span class="list_info">
            投稿:
            <%= home.created_at %>
          </span>
          <span class="list_info">
            更新:
            <% if home.messages.length == 0 %>
              <%= home.created_at %>
            <% else %>
              <% message = home.messages.last %>
              <%= message.created_at %>
            <% end %>
          </span>
        </li>
      <% end %>
    </ul>
  </div>
  <%= render "shared/home_footer" %>
</div>