<div class= 'all'>
  <%= render "shared/user_header" %>

  <div class='main'>
    ログイン
    <%= form_with model: @user, url: user_session_path, class: 'user_form', local: true do |f| %>
      <% unless flash[:alert] == nil %>
        <div class='error-alert'>
          <ul>
            <li class='error-message'><%= flash[:alert] %></li>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <div>
          <%= f.label :email %>
        </div>
        <%= f.email_field :email, class: "f_input-box", autofocus: true %>
      </div>

      <div class="field">
        <div>
          <%= f.label :password %>
        </div>
        <%= f.password_field :password, class: "f_input-box" %>
      </div>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>

  </div>
  <%= render "shared/home_footer" %>
</div>